# Example Environment Configuration for Swagger to Endpoints API

# -----------------------------------------------------
# BOB API Configuration
# -----------------------------------------------------
# The target execution URL for Camunda workflow execution
BOB_URL="https://ig.gov-cloud.ai/bob-camunda/v1.0/camunda/execute/019beb0a-7405-72f0-950a-6319eb4806cc?env=TEST&sync=false"

# Owner Identity for execution
BOB_OWNER_ID="2cf76e5f-26ad-4f2c-bccc-f4bc1e7bfb64"

# Agent Identity for execution
BOB_AGENT_ID="485b5c86e5094a21a0b87ipp1"

# -----------------------------------------------------
# Agent Validation Configuration
# -----------------------------------------------------
# External URL for validating agent identities
AGENT_VALIDATION_URL="https://ig.gov-cloud.ai/mobius-b-service/v1.0/agents"

# -----------------------------------------------------
# Security Authentication configuration
# -----------------------------------------------------
# The API bearer token to authenticate via headers during external service queries
API_TOKEN="your_jwt_auth_token_here"

# Set to True for production! False disables SSL verification.
VERIFY_SSL=False